name: deploy

on:
  push:
    branches: [main]

jobs:
  app-build:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE_TAG: ${{ secrets.DOCKER_REPOSITORY }}/${{secrets.DOCKER_IMAGENAME}}:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login docker hub
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REPOSITORY }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ env.DOCKER_IMAGE_TAG }}

      - name: execute remote ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          port: ${{ secrets.SERVER_PORT }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            echo "Login to Docker Registry..."
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

            echo "Pulling latest image..."
            docker pull ${{ env.DOCKER_IMAGE_TAG }}

            echo "Removing old container..."
            docker stop ${{ secrets.DOCKER_IMAGENAME }} || true
            docker rm ${{ secrets.DOCKER_IMAGENAME }} || true

            echo "Starting new container with Environment Variables..."
            docker run -d \
              --restart=always \
              --name ${{ secrets.DOCKER_IMAGENAME }} \
              -p 3001:3000 \
              -e DATABASE_URL='${{ secrets.VAL_DATABASE_URL }}' \
              -e OPENAPI_KEY='${{ secrets.VAL_OPENAPI_KEY }}' \
              -e DEFAULT_YEAR='${{ secrets.VAL_DEFAULT_YEAR }}' \
              -e JWT_SECRET='${{ secrets.VAL_JWT_SECRET }}' \
              ${{ env.DOCKER_IMAGE_TAG }}
